#font_multicolor{
    font-family: 'font_multicolor';
     font-size: 27px;
      cursor: pointer;
    padding: 5px 0;
}

#font_cookiemonster{
    font-family: 'font_cookiemonster';
   font-size: 27px;
      cursor: pointer;
    padding: 5px 0;
}

#font_gilbert{
    font-family: 'font_gilbert';
   font-size: 27px;
      cursor: pointer;
    padding: 5px 0;
}

#font_sweetsensations{
    font-family: 'font_sweetsensations';
   font-size: 27px;
      cursor: pointer;
    padding: 5px 0;
}